* {
    font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#mainContainer{

    margin-top: 140px;
}
.container {
    color: white;
    height: 610px;
}

#container img {
    height: 550px;
}

.centered {
    position: absolute;
    top: 60%;
    left: 24%;
    transform: translate(-50%, -50%);
    /* border: 1px solid white; */
    margin-left: 60px;
    width: 500px;
    text-align: left;
    font-family: Maison Neue"," Helvetica Neue",Helvetica,Arial," Lucida Grande";

}

.centered p {
    color: aqua;
    font-family: sans-serif;
}

#one {
    width: 100%;
    height: 120%;
    background-color: #222533;
    color: white;
}

#two {
    text-align: center;
    font-size: 30px;
}

#three {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

#four {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#five {
    width: 160px;
    height: 130px;
    margin-left: 0px;
}

#pig {
    font-size: 18px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    text-align: center;
    line-height: 30px;
}

#pigone {
    width: 300px;
}

#six {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#six>img {
    width: 500px;
    height: 360px;
}

#seven {
    width: 100%;
    height: 500px;
    text-align: center;
}

#seven h3 {
    font-size: 40px;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#dontcry {
    line-height: 30px;
    width: 600px;
    font-size: 20px;
    height: auto;
    margin: auto;
    text-align: center;
}

#images {
    width: 100%;
    height: 600px;
    transform: translateY(100px);
}

#boom {
    width: 100%;
    height: 100%;
    transform: translateY(40px);
}

#mouse {
    text-align: center;
    font-size: 20px;
    width: 750px;
    height: auto;
    margin: auto;
    line-height: 30px;
}

#var {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 300px;
   
}

#mouseone {
    width: 100px;
    height: 100px;
    position: relative;
    top: -350px;
    left: 690px;
}

#gotohell {
    font-size: 200px;
    color: rgb(45, 46, 47);
    border-radius: 20px;
}

#much {
    display: flex;
}

#when {
    width: 500px;
    height: 150px;
    background-color: white;
    color: black;
    transform: translate(200px, -300px)
}

#when h3 {
    text-align: center;
    font-size: 30px;
}

#when p {
    text-align: center;
}

#whenone {
    width: 500px;
    height: 150px;
    background-color: white;
    color: black;
    transform: translate(800px, -480px)
}

#whenone h3 {
    text-align: center;
    font-size: 30px;
}

#whenone p {
    text-align: center;
}

#boom >a,#mouseone>a {
    color: rgb(59, 59, 170);
    text-decoration: none;
}

#boom >a:hover,#mouseone>a:hover {
    text-decoration: underline;
}

#what img {
    width: 100%;
    height: 200px;
    transform: translateY(-350px);
}

#bottompart {
    width: 100%;
    height: 250px;
    background-color: #2eb7ce;
    margin-top: -400px
}

#bottompart button {
    width: 280px;
    height: 60px;
    border: none;
    background-color: #212432;
    margin-left: 900px;
    margin-top: 100px;
    font-weight: bold;
    color: white;

}

#bottompart button:hover {
    background-color: #394169;
}

#onetwo {
    margin-left: 150px;
    transform: translateY(100px);
    color: white;
}

