* {
    font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#header-checkout-section {
    width: 100%;
}

#header-checkout-heading {
    width: 75%;
    height: 120px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 40px;
    background-color: white;

}

#checkout-data-section {
    width: 100%;
    background-color: #f0f4f6;
    padding-top: 50px;
    padding-bottom: 50px;
}

#checkout-data-box {
    width: 78%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    background-color: white;
    border-radius: 8px;
}

#checkout-data-header-review{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid rgb(227, 225, 225);
    font-size: 12px;
    font-weight: 400;
    color: rgb(90, 88, 88);
    background-color: #f0f4f6
}

#checkout-data-header-review div:first-child{
    width: 60%;
    padding: 25px;
    font-size: 20px;
    font-weight: 600;
}

#checkout-data-header-review div:last-child{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;
    padding: 25px;
    color: #4296cb;
    font-size: 15px;
}

#checkout-data-header-review div:last-child a{
    text-decoration: none;
    color: #4296cb;
}


#checkout-data-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid rgb(227, 225, 225);
    font-size: 12px;
    font-weight: 400;
    color: rgb(90, 88, 88);
}

#checkout-data-header div:first-child {
    width: 60%;
    padding: 25px;
}

#checkout-data-header div:last-child {
    width: 5%;
    padding: 25px;
}

.checkout-data-add {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 3px solid rgb(227, 225, 225);
}

.checkout-leftdiv {
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    padding-left: 30px;
    font-weight: 600;
}
.checkout-rightDiv {
    width: 45%;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: right;
    font-weight: 700;
    padding-right: 40px;
}

#checkout-data-addtotal,
#checkout-data-payment {
    width: 100%;
    height: 80px;
    display: flex;
    border-bottom: 3px solid rgb(227, 225, 225);
}

#checkout-data-addtotal>div:first-child{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 30px;
    font-size: 25px;
    font-weight: 600;
}

#checkout-data-addtotal>div:last-child{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 30px;
    font-size: 25px;
    font-weight: 600;

}

#checkout-billing-box{
    width: 78%;
    height: 570px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    background-color: white;
    margin-top: 50px;
    border-radius: 8px;
}

#checkout-data-header-Billing{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid rgb(227, 225, 225);
    font-size: 12px;
    font-weight: 400;
    color: rgb(58, 56, 56);
    background-color: #f0f4f6
}

#checkout-data-header-Billing div:first-child{
    width: 60%;
    padding: 25px;
    font-size: 20px;
    font-weight: 600;
}



#checkout-payment-proceed-box{
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid rgb(227, 225, 225);
    margin: auto;
    margin-top: 50px;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 40px;
}

#checkout-payment-proceed-box>div:first-child{
    width: 100%;
    margin-top: 0%;
    border-bottom: 3px solid rgb(227, 225, 225);
    
}
#checkout-payment-proceed-box>div:first-child img{
    width: 100%;
}

#checkout-payment-proceed-box>div:nth-child(2){
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top:20px
    
}

#checkout-payment-proceed-box>div:nth-child(2)>input{
    padding: 12px 10px;
    margin-top: 10px;
    
}



#checkout-payment-proceed-box>div:nth-child(3){
    width: 90%;
    display: flex;
    margin-top: 30px; 
}


#checkout-payment-proceed-box>div:nth-child(3)>div{
    width: 85%;
    display: flex;
    flex-direction: column;
}

#checkout-payment-proceed-box>div:nth-child(3)>div:first-child>input{
    width: 85%;
    padding: 12px 10px;
}
#checkout-payment-proceed-box>div:nth-child(3)>div:last-child>input{
    width: 90%;
}

#checkout-payment-proceed-box>div:nth-child(3)>div>input{
    padding: 12px 10px;
    margin-top: 10px;
}

#checkout-place-order{
    width: 45%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

#checkout-place-order div:first-child{
    width: 50%;
    padding: 20px;
    color: #4296cb;
    font-size: 18px;
}

#checkout-place-order div:last-child{
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    
}

#checkout-place-order div:last-child button{
    width: 80%;
    padding: 20px 0px;
    color: white;
    background-color: #4296cb;
    border-radius: 4px;
    border: 1px solid #4296cb;
}
#checkout-place-order div:first-child a{
    text-decoration: none;
    color: #4296cb;
}