body{
    padding: 0px;
    margin: 0px;
    background-color: #f0f4f6;
}
#healthrecipes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 400px);
    justify-content: space-between;
    padding: 30px 20px 10px 20px;
    gap:10px;
    margin-top: 150px;
}

#healthrecipes>div{
    width:100%;
    height: 400px;
    margin: auto;
    border: 1px solid transparent;
    background-color: #ffffff; 
    
}
#healthrecipes>div>img{
    margin: auto;
    width:100%;
    height: 50%; 
}
#healthrecipes>div>img~p{
    color: #4296cb;
    font-weight: 500;
    font-size: 10px;
    padding-left: 20px;
}
#healthrecipes>div>img~p~h5{
    color: black;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 0px;
    padding: 0px 20px 0px 20px;
}
#healthrecipes>div>img~p~h5~p{
    color: black;
    font-size: 12px;
    padding-left: 20px;
}