* {
  font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  top: 0px;
}

#navbar {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: fixed;
  top: 0%;
  background-color: white;
  z-index: 1;
  border-bottom: 0.5px solid rgb(243, 240, 240);
}

#navbar_d:hover {
  cursor: pointer;
}

#brand_image>a>img {
  width: 180px;
  height: 150px;
  margin-left: 5px;
  padding: -10px 0px;
}

#nav_dropdown {

  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial,
    "Lucida Grande", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-menu {
  font-size: 13px;
  letter-spacing: 0.5px;
  margin-right: 15px;
  padding-top: 70px;
  padding-bottom:30px;
  border-bottom: 4px solid transparent;
}

.menu {
  color: #212432;
  font-weight: 600;

}

.header-menu:hover {
  border-bottom: 4px solid rgb(66, 150, 203);
}

.sub-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin-top: 60px;
}

ul li ul.sub-menu {
  min-width: 100%;
  background: #313443;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 50%;
}

ul li:hover ul.sub-menu {

  display: flex;
  color: #fff;
}

.menu-content {
  color: white;
  margin: 30px;
  height: 150px;
  width: 100%;
  font-family: Maison Neue, Helvetica Neue, Helvetica, Arial, Lucida Grande,
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.icon {
  display: block;
}

.icon.-logo-buzzfeed {
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -5px -168px;
  width: 121px;
  height: 22px
}

.icon.-logo-huffpost {
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -5px -5px;
  width: 230px;
  height: 13px
}

.icon.-logo-fitness {
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -136px -168px;
  width: 88px;
  height: 22px
}

.icon.-logo-forbes {
  background-image: url(/assets/sprite/sprite-20220526.svg);
  background-position: -134px -200px;
  width: 80px;
  height: 21px
}

.icon.-logo-wsj {
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -5px -28px;
  width: 219px;
  height: 20px
}

.icon.-about-programs {
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -401px -306px;
  width: 48px;
  height: 46px
}

.icon.-about-smiley {
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -257px -245px;
  width: 74px;
  height: 48px
}

.icon.-about-workouts {
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -401px -75px;
  width: 56px;
  height: 48px
}

.icon.-focus-core {
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -245px -5px;
  width: 68px;
  height: 107px
}

.icon.-focus-core_lower_body {
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -245px -122px;
  width: 68px;
  height: 107px
}

.icon.-focus-core_upper_body {
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -323px -5px;
  width: 68px;
  height: 107px
}

.icon.-focus-lower_body {
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -323px -122px;
  width: 68px;
  height: 107px
}

.icon.-focus-total_body {
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -5px -245px;
  width: 68px;
  height: 107px
}

.icon.-focus-upper_body {
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -83px -245px;
  width: 68px;
  height: 107px
}

.icon.-workout-videos {
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -401px -245px;
  width: 48px;
  height: 51px
}

.icon.-workout-programs {
  margin-top: 14px;
  margin-bottom: 4px;
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -107px -420px;
  width: 40px;
  height: 38px
}

.icon.-nutrition-programs {
  margin-top: 5px;
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -471px -5px;
  width: 48px;
  height: 48px
}

.icon.-pilot-programs {
  margin-top: 5px;
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -471px -63px;
  width: 48px;
  height: 48px
}

.icon.-fitness {
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -63px -362px;
  width: 48px;
  height: 47px
}

.icon.-health {
  margin-top: 9px;
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -121px -362px;
  width: 42px;
  height: 36px
}

.icon.-healthy-recipes {
  margin-top: 5px;
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -5px -420px;
  width: 41px;
  height: 42px
}

.icon.-blog {
  margin-left: 9px;
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -171px -113px;
  width: 42px;
  height: 38px
}

.icon.-community {
  margin-top: 5px;
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -56px -420px;
  width: 41px;
  height: 38px
}

.icon.-custom-workouts {
  margin-top: 5px;
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -401px -133px;
  width: 55px;
  height: 50px
}

.icon.-routines {
  margin-top: 5px;
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -471px -121px;
  width: 48px;
  height: 48px
}

.icon.-experts {
  margin-top: 5px;
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -471px -345px;
  width: 34px;
  height: 43px
}

.icon.-nutrition {
  margin-top: 5px;
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -471px -237px;
  width: 36px;
  height: 44px
}

.icon.-about {
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -341px -245px;
  width: 48px;
  height: 48px
}

.icon.-careers {
  margin-bottom: -2px;
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -5px -362px;
  width: 48px;
  height: 48px
}

.icon.-tutorials {
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -471px -179px;
  width: 48px;
  height: 48px
}

.icon.-team {
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -471px -291px;
  width: 44px;
  height: 44px
}

.icon.-whats-new {
  margin-bottom: -13px;
  margin-right: 3px;
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -401px -5px;
  width: 60px;
  height: 60px
}

.icon.-loading {
  background-image: url(https://cloudfront.fitnessblender.com/assets/sprite/sprite-20220526.svg);
  background-position: -161px -245px;
  width: 86px;
  height: 86px;
  -webkit-animation: spinning 2s linear infinite;
  animation: spinning 2s linear infinite
}


#main {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

}

#main>ul {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  vertical-align: middle;
}

#nav_signin {
  width: 250px;
  height: 100%;
  font-weight: 400;
  border-left: 0.5px solid rgb(243, 240, 240);
  border-right: 0.5px solid rgb(243, 240, 240);
  display: flex;
  align-items: center;
  justify-content: center;
}
#user_image{
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#user_image>img{
  width: 50px;
  height: 50px;
  margin-top: 18px;
  border-radius: 50%;

}

#signin_div>ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* #nav_dropdown .material-symbols-outlined, */
#nav_signin .material-symbols-outlined {
  margin-top: -3px;
  color: rgb(66, 150, 203);
}

#nav_cart {
  box-sizing: border-box;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 120px;
  height: 100px;

}

#nav_search {
  color: black;
  margin-left: -15px;
  font-weight: 600;


}

#nav_bag {
  color: black;
  margin-left: -25px;
  font-weight: 600;



}

#bag_item {

  box-sizing: border-box;
  margin-top: 3px;
  font-size: 20px;
  font-weight: 600;
  margin-left: -35px;
}

.header-menu>a {

  display: flex;
  align-items: center;

}

.header-menu>a>span {
  color: rgb(66, 150, 203);
}

#nav_signin>div>img {
  width: 100%;
  
}

#bag_item {
  color: #238dc1;
}


.header {
  height: 105px;
  width: 200px;
  background: #fff;
  padding-top: 40px;
  font-size: 13px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#hi_signin {
  color: rgb(66, 150, 203);

  width: 100px;
  font-size: 16px;
  font-weight: 400;
}

#myfitness {
  display: flex;
  align-items: center;
  width: 130px;
}

.login {
 
  width: 100px;
  height:350px;
  margin-top: 60px;
  padding: 30px;
}

ul li ul.login {


  min-width: 240px;
  background: #313443;
  display: none;
  position: absolute;
  z-index: 999;
  left: 72.5vw;
  top: 50%;
}

ul li:hover ul.login {
  display: block;
  color: #fff;
}

.menu-login div {
  line-height: 15px;
}

.login div:nth-child(2) {
  font-size: 1.2em;
  line-height: 20px;
  margin-bottom: 20px;
}

.skip-btn {
  height: 40px;
  width: 15rem;
  border-radius: 5px;
  background: #004ad4;
  color: #fff;
  text-align: center;

}

.login-btn {
  font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial,
  "Lucida Grande", sans-serif;
  height: 40px;
  width: 240px;
  margin-top:20px;
  border-radius: 5px;
  background: #5b7c8d;
  color: rgb(204, 204, 204);
  text-align: center;
}
#login_btn_join{
  background-color: #238dc1;
  border: 1px solid #238dc1;
}
#login_btn_join:hover{
  background: -webkit-linear-gradient(top left, #3d97ce 0%, #12debb 100%);
  background: -o-linear-gradient(top left, #3d97ce 0%, #12debb 100%);
  background: linear-gradient(to bottom right, #3d97ce 0%, #12debb 100%);
}
#login_btn_sign{
  background-color: black;
  color:white;
  border:1px solid  #238dc1;
}
#login_btn_sign:hover{
  background: -webkit-linear-gradient(top left, #3d97ce 0%, #12debb 100%);
  background: -o-linear-gradient(top left, #3d97ce 0%, #12debb 100%);
  background: linear-gradient(to bottom right, #3d97ce 0%, #12debb 100%);

}

#myfitness>.material-symbols-outlined {
  color: rgb(66, 150, 203);
  text-align: center;
  font-size: 25px;
}

.menu-login>.menu{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 30px;
  gap: 5px;
}

#nav_signin{
  border-bottom: 5px solid transparent;
}

#nav_signin:hover{
  border-bottom: 5px solid rgb(66, 150, 203);
}
#nav_member{
  color:rgb(66, 150, 203);
  margin-left:10px;
}

#nav_cart>div>span:hover{
 
  cursor: pointer;

}

#join_free>p{
  font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial,
  "Lucida Grande", sans-serif;
   font-size: 18px;
   font-weight: 700;
   padding:20px 20px;
}
#join_free>p+p{

  font-weight: 400;
  color: #ced1db;
  line-height: 25px;
  font-size: 13px;
}
