body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*{
    font-family: "Maison Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
#head{
    background-color: #222533;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 550px;
    color: #fff;
    background-image: url(https://d18zdz9g6n5za7.cloudfront.net/workouts_programs/masthead-workouts.jpg);
    margin-top: 150px;
}
#head>#container{
    height: 250px;
    padding: 150px 0px 0px 150px;
}
#head>#container>#text{
    color: #4296cb;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: -20px;
}
#head>#container>#heading{
    letter-spacing: -0.02em;
    margin-left: -3px;
    font-weight: 300;
    font-size: 2.8rem;
}
#fbp-nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
}
#fbp-nav>#link>a{
    color: #4296cb;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.7rem;
    display: inline-block;
    padding: 25px 25px;
    background: none;
}
#fbp-nav>#link:hover{
    background-color: #f1f6f8;
}
#selection{
    height: 550px;
    width: auto;
    background-color: #e3ebee;
}
.programs_cards:hover{
    /* height: 550px;
    width: auto;
    background-color: #e3ebee; */
    box-shadow: 0px 0px 0px 3px #4296CB;
    transition: box-shadow 0.4s linear;
}
#selection>#box{
    padding: 3rem 9rem 3rem 9rem;
    
}
#selection>#box>#first{
    display: flex;
    justify-content: space-between;
}
#selection>#box>#first h2{
    font-size: 2em;
    font-weight: 200;
    line-height: 1.2em;
}
#selection>#box>#first a{
    font-size: 1rem;
    padding:35px 0px 35px 0px;
    background: none;
    color: #4296cb;
    font-weight: 400;
    text-decoration: none;
}




#selection>#box>#second{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 10px;
    height: 60px;
}

/* #selection>#box>#first .exclusive-item {
    position: absolute;
    top: 0;
    right: 0;
    background: #3cdbb8;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 0px 0px 3px rgb(0 0 0 / 20%);
    padding: 0.5rem 1rem;
    border-radius: 0 0 0 6px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    z-index: 1;
    cursor: pointer;
} */


#features{
    background-color: #f0f4f6;
}
#features>#box2{
    padding: 3rem 9rem 3rem 9rem;
}
#features>#box2>#details>h2{
    font-size: 2.2rem;
    line-height: 3.8rem;
    letter-spacing: -0.3px;
    font-weight: 100;
}
table{
    width: 100%;
}
table th {
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
}
table tbody>tr>td{
    border-top: 1px solid #e3ebee;
    vertical-align: top;
    padding: 10px;
    font-size: 14px;
    width: 80%;
}
.membershipfeatures_cell{
    width: 15%;
    text-align: center;
    color: #26bc35;
}
.membershipfeatures_cell div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    color: black;
}
#fb{
    border-radius: 4px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 1.3rem 2rem 1.3rem 2rem;
    display: flex;
    flex-direction: row;
    background: #fff;
    margin-top: 30px;
}
#fb>#fbIcon>#fbIco>#fbPlus{
    text-align: center;
    font-weight: bold;
    padding: 0;
    white-space: nowrap;
    font-size: 2rem;
    line-height: 3rem;
}
#fb>#fbIcon>#fbIco>#fbPlus>.F{
    color: #212432;
    font-size: 2.5rem;
}
#fb>#fbIcon>#fbIco>#fbPlus>.p{
    color: #4296cb;
    font-size: 2.5rem;
}
#fb>#fbIcon>#fbIco>#fbPlus>.mp{
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.22rem;
    line-height: 0.5rem;
    color: #a7aabb;
}
#fb>#message{
    font-size: 1.2rem;
    line-height: 1.6em;
    padding: 0;
    margin-left: 15px;
    margin-top: 6px;
}
#features>#box2>#details>.group {
    margin-top: 25px;
    margin-bottom: -15px;
    text-align: center;

}
#features>#box2>#details>.group .btn.-main{
    background: #4296cb;
    border-color: transparent;
    color: #fff;
    text-transform: uppercase;
    /* position: relative; */
}
.btn{
    padding: 10px 25px 10px;
    font-size: 0.8rem;
    line-height: 1.6rem;
    border-radius: 4px;
    border: 1px solid #f0f4f6;
    color: #212432;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
}
a {
    color: #4296cb;
    font-weight: 400;
    text-decoration: none;
}
#return{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #4296cb;
    padding-bottom: 40px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
#return>.demi{
    text-align: center;
    color: #4296cb;
}


#selectionQ{
    height: 550px;
    width: auto;
    background-color: #e3ebee;
}
#selectionQ>#boxQ{
    padding: 3rem 9rem 3rem 9rem;
    
}
#selectionQ>#boxQ>#firstQ{
    display: flex;
    justify-content: space-between;
}
#selectionQ>#boxQ>#firstQ h2{
    font-size: 2em;
    font-weight: 200;
    line-height: 1.2em;
}
#selectionQ>#boxQ>#firstQ a{
    font-size: 1rem;
    padding:35px 0px 35px 0px;
    background: none;
    color: #4296cb;
    font-weight: 400;
    text-decoration: none;
}
#selectionQ>#boxQ>#third{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 10px;
    height: 60px;
}



#featuresQ{
    background-color: #f0f4f6;
}
#featuresQ>#box2Q{
    padding: 3rem 9rem 3rem 9rem;
}
#featuresQ>#box2Q>#detailsQ>h2{
    font-size: 2.2rem;
    line-height: 3.8rem;
    letter-spacing: -0.3px;
    font-weight: 100;
}
table{
    width: 100%;
}
table th {
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
}
table tbody>tr>td{
    border-top: 1px solid #e3ebee;
    vertical-align: top;
    padding: 10px;
    font-size: 14px;
    width: 80%;
}
.membershipfeatures_cell{
    width: 15%;
    text-align: center;
    color: #26bc35;
}
.membershipfeatures_cell div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    color: black;
}

#featuresQ>#box2Q>#detailsQ>.groupQ .btnQ.-mainQ{
    background: #4296cb;
    border-color: transparent;
    color: #fff;
    text-transform: uppercase;
    /* position: relative; */
}

.btnQ{
    display: inline-block;
    text-align: center;
    padding: 10px 25px 10px;
    font-size: 0.8rem;
    line-height: 1.6rem;
    border-radius: 4px;
    border: 1px solid #f0f4f6;
    color: #212432;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-left: 41%;
    margin-top: 28px;
}



#selectionM{
    height: 550px;
    width: auto;
    background-color: #e3ebee;
}
#selectionM>#boxM{
    padding: 3rem 9rem 3rem 9rem;
    
}
#selectionM>#boxM>#firstM{
    display: flex;
    justify-content: space-between;
}
#selectionM>#boxM>#firstM h2{
    font-size: 2em;
    font-weight: 200;
    line-height: 1.2em;
}
#selectionM>#boxM>#firstM a{
    font-size: 1rem;
    padding:35px 0px 35px 0px;
    background: none;
    color: #4296cb;
    font-weight: 400;
    text-decoration: none;
}
#selectionM>#boxM>#four{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 10px;
    height: 60px;
}

#featuresM{
    background-color: #f0f4f6;
}
#featuresM>#box2M{
    padding: 3rem 9rem 3rem 9rem;
}
#featuresM>#box2M>#detailsM>h2{
    font-size: 2.2rem;
    line-height: 3.8rem;
    letter-spacing: -0.3px;
    font-weight: 100;
}
table{
    width: 100%;
}
table th {
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
}
table tbody>tr>td{
    border-top: 1px solid #e3ebee;
    vertical-align: top;
    padding: 10px;
    font-size: 14px;
    width: 80%;
}
.membershipfeatures_cell{
    width: 15%;
    text-align: center;
    color: #26bc35;
}
.membershipfeatures_cell div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    color: black;
}

#featuresM>#box2M>#detailsM>.groupM .btnM.-mainM{
    background: #4296cb;
    border-color: transparent;
    color: #fff;
    text-transform: uppercase;
    /* position: relative; */
}

.btnM{
    display: inline-block;
    text-align: center;
    padding: 10px 25px 10px;
    font-size: 0.8rem;
    line-height: 1.6rem;
    border-radius: 4px;
    border: 1px solid #f0f4f6;
    color: #212432;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-left: 41%;
    margin-top: 28px;
}




#selectionP{
    height: 550px;
    width: auto;
    background-color: #e3ebee;
}
#selectionP>#boxP{
    padding: 3rem 9rem 3rem 9rem;
    
}
#selectionP>#boxP>#firstP{
    display: flex;
    justify-content: space-between;
}
#selectionP>#boxP>#firstP h2{
    font-size: 2em;
    font-weight: 200;
    line-height: 1.2em;
}
#selectionP>#boxP>#firstP a{
    font-size: 1rem;
    padding:35px 0px 35px 0px;
    background: none;
    color: #4296cb;
    font-weight: 400;
    text-decoration: none;
}
#selectionP>#boxP>#five{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 10px;
    height: 60px;
}

#featuresP{
    background-color: #f0f4f6;
}
#featuresP>#box2P{
    padding: 3rem 9rem 3rem 9rem;
}
#featuresP>#box2P>#detailsP>h2{
    font-size: 2.2rem;
    line-height: 3.8rem;
    letter-spacing: -0.3px;
    font-weight: 100;
}
table{
    width: 100%;
}
table th {
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
}
table tbody>tr>td{
    border-top: 1px solid #e3ebee;
    vertical-align: top;
    padding: 10px;
    font-size: 14px;
    width: 80%;
}
.membershipfeatures_cell{
    width: 15%;
    text-align: center;
    color: #26bc35;
}
.membershipfeatures_cell div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    color: black;
}

#featuresP>#box2P>#detailsP>.groupP .btnP.-mainP{
    background: #4296cb;
    border-color: transparent;
    color: #fff;
    text-transform: uppercase;
    /* position: relative; */
}

.btnP{
    display: inline-block;
    text-align: center;
    padding: 10px 25px 10px;
    font-size: 0.8rem;
    line-height: 1.6rem;
    border-radius: 4px;
    border: 1px solid #f0f4f6;
    color: #212432;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-left: 41%;
    margin-top: 28px;
}


#faqP{
    background-color: #313443;
    color: #fff;
}
#faqP>.fq{
    -webkit-box-pack: center;
    justify-content: center;
    padding: 2rem 9rem 2rem 9rem;
}
#faqP>.fq h2{
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 200;
}
#faqP>.fq h3{
    font-size: 1.9em;
    line-height: 0.8em;
    font-weight: 100;
}
#faqP>.fq p{
    font-size: 1em;
    line-height: 1.9em;
    font-weight: 100;
    margin-bottom: 4rem;
    margin-top: -1rem;
}