*{
    font-family: "Maison Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#signup-container{
    width: 100%;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 100px;
}

#signup-box{
    width: 40%;
    margin: auto;

}

#sign-box-section-top h1{
   text-align: center;
   font-weight: 400;
}

#signup-social-media-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: auto;
    margin-bottom: 20px;

}

#signup-social-media-buttons button:first-child{
    width: 40%;
    background: #3f66b6;
    border : 1px solid #3f66b6;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

#signup-social-media-buttons button:first-child a{ 
    padding-left: 70px;
    padding-right: 70px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.signup-social-media-logo{
    height: 12px;
    fill: white;
    font-size: 10px;
}

#signup-social-media-buttons button:last-child{
    width: 40%;
    background: #db4a3c;
    border : 1px solid #db4a3c;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

#signup-social-media-buttons button:last-child a{ 
    padding-left: 70px;
    padding-right: 70px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

#signup_ordiv{
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
}

#signup_orright,
#signup_orleft{
    width: 100%;
    border-top: 3px solid #7B7F92;
    margin-top: 10px;
    opacity: 0.1;
}

#signup_orcenter{
    margin: 0px 15px;
}

#signup-box-form-section{
    width: 100%;
    margin-top: 30px;
    
}

#signup-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#signup-form-input-section,#signup-form-details-section{
    width: 50%;
    
}
#signup-form-input-section{
    padding-right: 10px;
    height: 330px;
}

#signup-form-input-section input{
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #e3ebee;
    font-size: 13px;
}

#signup-form-input-section input::placeholder{
    padding-left:12px;
    color: #7b7f92;
}

#signup-form-details-section{
    height: 330px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
    padding-left: 30px;
    border-radius: 4px;
}

#signup-form-details-section ul{
    list-style-type: none;
    padding-left: 0px;
}
#signup-form-details-section ul span{
    color: #4697c9;
    font-weight: 800;
}

#signup-form-details-section h3{
    color: #4697c9;
    font-weight: 400;
}

#signup-form-details-section ul li{
    display: flex;
    align-items: center;
    gap: 10px;
}


#signup-form-details-section ul p{
    font-size: 13px;
}

#signup-recaptcha{
    width: 45%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid #d1d1d1;
    border-radius: 4px;
}

#signup-recaptcha>div:first-child{
    width: 80%;
    display: flex;
    align-items: center;
    gap: 10px;
}


#signup-recaptcha>div:first-child input{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

#signup-recaptcha>div:last-child{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#signup-recaptcha>div:last-child img{
    width:30%;
}

#signup-recaptcha>div:last-child>p{
    margin-top: 0%;
    margin-bottom: 0%;
    color: #999494;
}

#signup-recaptcha>div:last-child>img+p{
    font-size:x-small;
    margin-top: 3%;
}

#signup-recaptcha>div:last-child>p:last-child{
    font-size: 8px
}

#signup-terms-and-conditions{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

#signup-terms-and-conditions input{
    width: 25px;
    height: 25px;
}
#signup-terms-and-conditions a{
    text-decoration: none;
    color:#4296cb;
}


#signup-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#signup-buttons >button{
    width: 50%;
    padding: 15px;
    background: #4296cb;
    border: 1px solid #4296cb;
    border-radius: 4px;
    color: white;
    font-size: medium;
}

#signup-bottom-section{
    margin-top: 50px;
    text-align: center;
}
#signup-bottom-section a{
    text-decoration: none;
    color:#4296cb;
}